@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,300,300i,400,400i,500,700&display=swap');

//@media (max-width:$break-point-1){

// GFX Colors
$yellow:#F9BA42;
$dark-blue:#222A3E;
$dark-blue-bg:#121621;
$darker-blue:#040f2a;
$input-blue:#434F6C;

$btn-primary-1 : #2A4589;
$btn-primary-2 : #000F34;

$btn-secondary-1 : #FCD996;
$btn-secondary-2 : #FFA700;

$font-size-normal:22px;
$line-height-normal:27px;
$font-size-small:16px;
$line-height-small:19px;

$break-point-1 : 1294px;
$break-point-2 : 991px;
$break-point-3 : 768px;


.text-brand{
    color: $yellow;
}
.font-size-small{
    font-size: $font-size-small;
    line-height: $line-height-small;
}

a{
    color:$yellow;
    transition:all 200ms linear;
    &:hover{
        color:darken($yellow,20%);
        text-decoration:none;
    }
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background:$dark-blue;
    color:#fff;
    font-weight:200;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    overflow-x:hidden;

    /*background: -moz-linear-gradient(left,  $dark-blue 0%, $dark-blue-bg  100%);
    background: -webkit-linear-gradient(left,  $dark-blue 0%,$dark-blue-bg  100%);
    background: linear-gradient(to right,  $dark-blue 0%,$dark-blue-bg 100%);*/
}

.navbar{
    .nav-item{
        .nav-link{
            color:#fff;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.15em;
            font-weight:bold;
            padding-left: .9rem;
            padding-right: .9rem;
            transition:all 200ms linear;
            &:hover{
                color:$yellow;
            }
            @media all and (max-width:$break-point-2){
                padding-left:0;
                padding-right:0;
                display:block;
                text-align:center;
                border-bottom: 1px dashed #425fa7;
            }
        }
    }

    #navbarNav{
        margin-left:30px;
        @media all and (max-width:$break-point-2){
            margin-left:0;
            margin-top:20px;
        }
    }

    #navbarNavRight{
        .nav-item{
            margin-left:20px;
        }
    }

    &:before{
        background: -moz-linear-gradient(top,  rgb(4, 15, 42) 0%, rgba(4,15,42,1) 60%, rgba(4,15,42,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(4,15,42,1) 0%,rgba(4,15,42,1) 60%,rgba(4,15,42,0) 100%);
        background: linear-gradient(to bottom,  rgba(4,15,42,1) 0%,rgba(4,15,42,1) 60%,rgba(4,15,42,0) 100%);
        content:"";
        display: block;
        height: 140%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        transition:all 200ms ease-out;
    }

    &.open{
        &:before{
            height: 100vh;
            background: -moz-linear-gradient(top,  rgb(4, 15, 42) 0%, rgba(4,15,42,1) 38%, rgba(4,15,42,0.2) 94%, rgba(4,15,42,0.2) 95%);
            background: -webkit-linear-gradient(top,  rgba(4,15,42,1) 0%,rgba(4,15,42,1) 38%,rgba(4,15,42,0.2) 94%,rgba(4,15,42,0.2) 95%);
            background: linear-gradient(to bottom,  rgba(4,15,42,1) 0%,rgba(4,15,42,1) 38%,rgba(4,15,42,0.2) 94%,rgba(4,15,42,0.2) 95%);
            @media all and (max-width:$break-point-2){
                background:$darker-blue;
            }
        }
    }

    &.mobile-open{
        &:before{
            height: 100vh;
            background:$darker-blue;
        }
    }

    .dropdown-menu{
        background:none;
        border:none;
        box-shadow:none;
        white-space: pre-line;
        label{
            padding-left:.9rem;  
            padding-right:.9rem;
            font-size:16px;
            color:$yellow;
            font-weight: 500;
            @media all and (max-width:$break-point-2){
                text-align:center;
            }
        }
        a{
            padding-left:.9rem;  
            padding-right:.9rem;
            color:#fff;
            transition:all 200ms linear;
            display: inline-block;
            position: relative;
            width: auto;
            &:after{
                content:"";
                height:3px;
                background:$yellow;
                width:100%;
                display:block;
                opacity:0;
                transition:all 200ms ease-out;
                border-radius:5px;
            }
            &:hover{
                background:transparent;
                &:after{
                    opacity:1;
                }
            }
            @media all and (max-width:$break-point-2){
                display:block;
                text-align:center;
            }
        }
        @media all and (max-width:$break-point-2){
            white-space:normal
        }
    }

    .navbar-toggle{
        background:transparent;
        border:none;
        position: relative;
        padding: 9px 10px;
        display:none;
        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background:#fff;
            margin-top: 4px;
            &:first-child{
                margin-top:0;
            }
        }
    }
    @media all and (max-width:$break-point-2){
        .navbar-toggle{
            display:block;
        }
    }

}

input, select, textarea{
    &.form-control{
        border-radius:20px;
        background:$input-blue;
        border:none !important;
        color:#fff;
        -webkit-appearance: none;
        transition:all 200ms linear;

        &::placeholder{
            // color:darken($input-blue,20%);
            color:#aaa;
        }

        &:focus{
            background:lighten($input-blue,10%);
            outline:0;
            box-shadow:none;
            color:#fff;
        }
        &:invalid { color: #f00; }
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
{
    -webkit-transition-delay: 99999s;
    -webkit-text-fill-color:#fff;
}

h1{
    font-weight:100;
    color:#fff;
    font-size: 70px;
    line-height: 84px;
    strong{
        font-weight:500
    }
    @media (max-width:$break-point-3){
        font-size: 60px;
        line-height: 64px;
        margin-bottom: 0;
    }
    @media (max-width:$break-point-2){
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 0;
    }

}

h3{
    font-weight:100;
    font-size: 46px;
    line-height: 56px;
    color:$yellow;
    strong{
        font-weight:500
    }
    @media (max-width:$break-point-3){
        font-weight: 100;
        font-size: 26px;
        line-height: 36px;
        color: #F9BA42;
        text-align: left;
    }
}

section{
    p{
        font-size:$font-size-normal;
        line-height: $line-height-normal;
    }
}

.btn{
    border-radius: 100px;
    border: none;
    padding: 6px 27px;
    transition:all 200ms linear;
    letter-spacing: 0.15em;
    span{
        display:block;
        font-size:20px;
        font-weight:500;
    }
    &:hover{
        box-shadow:0 0 0 5px rgba(255,255,255,0.3);
    }

    &.btn-primary{
        background: -moz-linear-gradient(left,  $btn-primary-1 0%, $btn-primary-2 100%);
        background: -webkit-linear-gradient(left,  $btn-primary-1 0%,$btn-primary-2 100%);
        background: linear-gradient(to right,  $btn-primary-1 0%,$btn-primary-2 100%);
    }
    &.btn-warning{
        background: -moz-linear-gradient(left,  $btn-secondary-1 0%, $btn-secondary-2 100%);
        background: -webkit-linear-gradient(left,  $btn-secondary-1 0%,$btn-secondary-2 100%);
        background: linear-gradient(to right,  $btn-secondary-1 0%,$btn-secondary-2 100%);
        
        color:$dark-blue;
        img{
            width: 36px;
            position: relative;
            top: -4px;
            margin-bottom: -10px;
        }
        &.btn-lg{
            padding: 10px 40px;
            img{
                width:43px;
            }
        }
    }
}

.img{
    &-logowhite{
        margin-bottom:20px;
    }
    &-coinschedule{
        margin-bottom:10px;
    }
    &-logogoldfinx{
        width: 170px;
    }
    &-gixbtn{
        display:inline-block;
    }
    &-sprinkles{
        opacity:0.4;
        margin-top:-250px;
        z-index:1;
        position: absolute;
        display:none;
    }
    &-philippequote{
        img{
            display:block;
            width:100%;
            transform: scale(1.5);
        }
    }
    &-socialinfant{
        img{
            display:block;
            width:100%;
        }
    }
    &-gix2d{
        display:block;
        width:70%;
        margin:auto;
        margin-top:3em;
    }
    &-gix3d{
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 0;
    }

    &-brokennugget{
        display: block;
        width: 130%;
        position: absolute;
        top: -80%;
        left: -50%;
        z-index: -1;
    }

    &-coinfrontmono{
        display: block;
        width: 110%;
        top: -40%;
        position: absolute;
        right: -30%;
        z-index: -1;
        opacity: .25;
        &.in-social-mine{
            top: -140%;
            z-index:1;
        }
    }

    &-iconcloseoverlay{
        position:absolute;
        top:20px;
        right:20px;
        transition:all 200ms linear;
        &:hover{
            opacity:0.5;
            cursor:pointer;
        }
    }

    &-uniqueconcept{
        display:block;
        width:100%;
    }

}

.callout{
    &-left{
        border-left: 2px solid $yellow;
        padding-left:30px;
        &-child{
            padding-left:30px;
        }
    }
    &-right{
        border-right: 2px solid $yellow;
        padding-right:30px;
        @media (max-width:$break-point-2){
            border-right: 0 solid $yellow;
            padding-right:0;
            border-left: 2px solid $yellow;
            padding-left:30px;
        }
        &-child{
            padding-right:30px;
            @media (max-width:$break-point-2){
                padding-right:0;
            }
        }
    }
    &-horizontal{
        position:relative;
        padding-top:20px;
        &:before{
            content: "";
            display: block;
            width: 360px;
            margin-left: -45px;
            height: 2px;
            background: $yellow;
            position: absolute;
            top: 5px;
        }
    }
}

footer{
    background: -moz-linear-gradient(top,  $dark-blue 0%, $darker-blue 46%);
    background: -webkit-linear-gradient(top,  $dark-blue 0%,$darker-blue 46%);
    background: linear-gradient(to bottom,  $dark-blue 0%,$darker-blue 46%);
    padding-bottom: 30px;
    padding-top: 50px;
    margin-top: 50px;

    a{
        color:#fff;
        text-decoration:underline;
        transition:all 200ms linear;
        &:hover{
            color:$yellow;
            text-decoration:underline;
        }
    }

    ul{
        list-style-type:none;
        padding:0;

        &.social-networks{
            font-size:0;
            margin-top:12px;
            li{
                display:inline-block;
                margin-right:5px;
                cursor:pointer;
                a{
                    img{
                        width:35px;
                        transition:all 200ms linear;
                        &:hover{
                            opacity:0.5;
                            
                        }
                    }
                }
            }
        }
    }

    .newsletter{
        text-align:center;
        margin-top:-40px;
        @media all and (max-width:$break-point-2){
            margin-top:20px;
            padding-left:0;
            padding-right:0;
        }
        #mc_embed_signup_scroll{
            background:$input-blue;
            border-radius: 50px;
            height:50px;
            line-height:50px;
            position:relative;
            .email{
                background:transparent;
                border:none;
                font-family:inherit;
                color:#fff;
                height:50px;
                &:focus{
                    outline:0;
                }
                &::placeholder{
                    color:#fff;
                }
            }
            .button{
                position:absolute;
                top:1px;
                right:1px;
                height:48px;
                border-radius:50px;
                color:$darker-blue;
                background:#fff;
                letter-spacing:15%;
                font-size: 16px;
                text-transform:uppercase;
            }
        }
    }

    .awards{
        margin-top:-50px;
    }
}


.home-featured{
    position:relative;
    height:100vh;
    overflow:hidden;
    font-size: 30px;
    line-height: 36px;
    font-weight:200;
    p{
        font-size:24px;
        line-height:29px;
    }

    @media all and (max-width:$break-point-2){
        display:none;
        background:url(../images/video-mobile.png) no-repeat center center;
        background-size:cover;
        align-items: flex-start !important;
        padding-top: 200px;
    }
    

    video{
        transform: scaleX(-1);
        position:absolute;
        left:0;
        top:0;
        width:100%;
        @media all and (max-width:$break-point-2){
            display:none;
        }
    }

    &:before{
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:100%;
        content:"";
        display:block;
        z-index: 1;
        background: -moz-linear-gradient(top,  rgba(4,15,42,0.1) 0%, rgba(29,37,59,1) 83%, rgba(34,42,62,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(4,15,42,0.1) 0%,rgba(29,37,59,1) 83%,rgba(34,42,62,1) 100%);
        background: linear-gradient(to bottom,  rgba(4,15,42,0.1) 0%,rgba(29,37,59,1) 83%,rgba(34,42,62,1) 100%);
        
              
    }

    .container-fluid{
        position:relative;
        z-index:1;
    }

    .in-the-news{
        margin-top:100px;
        @media all and (max-width:$break-point-2){
            margin-top:5px;
        }
        position:relative;
        z-index:999999;
        

        h5{
            text-shadow: none;
            font-weight: 600;
            font-size: 22px;
            background: -moz-linear-gradient(left,  $btn-primary-1 0%, $btn-primary-2 100%);
            background: -webkit-linear-gradient(left,  $btn-primary-1 0%,$btn-primary-2 100%);
            background: linear-gradient(to right,  $btn-primary-1 0%,$btn-primary-2 100%);
            height:50px;
            line-height:50px;
            border-radius: 20px 0 0 0 ;
            span{
                color:$yellow;
            }

            @media all and (max-width:$break-point-2){
                border-radius: 20px 20px 0 0;
            }
            
        }
        
        .row{
            background: #fff;
            border-radius: 20px 20px 0 0;
            margin: 0;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
            @media (max-width:$break-point-3){
                display:block;
            }
            @media all and (max-width:$break-point-2){
                border-radius: 20px;
            }
        }

        transition:all 200ms linear;
        &.invisible{
            opacity:0;
        }

        img{
            filter:grayscale(1);
            display:block;
            height:30px;
            margin:auto;
            @media (max-width:$break-point-1){
                height:22px
            }
            @media (max-width:$break-point-2){
                height:15px
            }
            @media (max-width:$break-point-3){
                height: 27px;
                margin:10px auto;
                
            }
        }
        .btn{
            @media (max-width:$break-point-3){
                margin-bottom:10px;
            }
        }
    }
    
}

.home-featured-buy-button{
    text-align: center!important;
    margin-top: -120px!important;
    position: relative;
    z-index: 1;
    margin-bottom:120px;
}

.gold-mining{
    background-image: url('../images/gold-mining.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.social-mine{
    background-image: url('../images/social-mine.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.GoldFactsHeader{
    background-image: url('../images/GoldFactsHeader.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.gix_nugget{
    background-image: url('../images/gix_nugget.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mining-footprint{
    background-image: url('../images/mining-footprint.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fair-trade{
    background-image: url('../images/fair-trade.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.holding_gix{
    background-image: url("../images/holding_gix.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


section.crypto-slider {
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    border-bottom: 3px dashed $yellow;

    h5{
        position: absolute;
        left: 60px;
        font-size: 90px;
    }
    strong{
        background:$dark-blue;
        padding: 0 10px;
        display: block;
        margin-bottom: -4px;
    }
    &:before{
        position:sticky;
        left:calc(100vw - 200px);
        top:0;
        content:"";
        background:#f00;
        height:400px;
        margin-top:-400px;
        width:200px;
        display:block;
        z-index:1;
        background: -moz-linear-gradient(left,  rgba(34,42,62,0) 0%, rgba(34,42,62,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(34,42,62,0) 0%,rgba(34,42,62,1) 100%);
        background: linear-gradient(to right,  rgba(34,42,62,0) 0%,rgba(34,42,62,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222a3e', endColorstr='#222a3e',GradientType=1 );
    }
}

.watermarked{
    position:relative;
    padding-top:40px;
    padding-left:60px;
    h5{
        font-weight: 500;
        font-size: 50px;
        line-height: 84px;
        opacity:.3;
        color:$yellow;
        position:absolute;
        z-index: -1;
        top:0px;
        left:15px;
    }
}


.login-overlay{
    position:fixed;
    left:0;
    top:0;
    right:0;
    height:100vh;
    z-index: 9999;
    background: -moz-linear-gradient(top,  rgb(4, 15, 42) 0%, rgba(4,15,42,1) 38%, rgba(4,15,42,0.2) 94%, rgba(4,15,42,0.2) 95%);
    background: -webkit-linear-gradient(top,  rgba(4,15,42,1) 0%,rgba(4,15,42,1) 38%,rgba(4,15,42,0.2) 94%,rgba(4,15,42,0.2) 95%);
    background: linear-gradient(to bottom,  rgba(4,15,42,1) 0%,rgba(4,15,42,1) 38%,rgba(4,15,42,0.2) 94%,rgba(4,15,42,0.2) 95%);
    padding:5rem 0;
    display:none;
    @media all and (max-width:$break-point-2){
        background:$darker-blue;
    }
}

.roadmap-section{
    margin-top:12em;
    padding-bottom:1px;
.roadmap{
    border-bottom:4px solid $yellow;
    position:relative;
    margin-top:50px;
    margin-bottom:250px;
    margin-top: 5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    @media all and (max-width:$break-point-2){
        width:100%;
        border-bottom:none;
        margin-top:0;
    }
    .timeline{
        position:absolute;
        background:#fff;
        height:4px;
        width:0;
        transition: all 4000ms linear;
    }
    .time-mark{
        width:11.111111111111111%;
        float:left;
        font-size: 13px;
        line-height: 16px;
        position:absolute;
        @media all and (max-width:$break-point-2){
            position:relative;
            width:50%;
            left:auto !important;
            float:none;
        }
        padding:0 20px;
        &.upcoming{
            &:after{
                background:$yellow;
            }
            &.upcoming{
                &:after{
                    background:$yellow;
                }
                &:before{
                    background:$yellow;
                }
            }
        }
        .year{
            color:$yellow;
            font-weight: 500;
            text-align: center;
            font-size: 17px;
            line-height: 20px;
            margin-bottom:10px;
            span{
                display:block;
            }
        }
        .title{
            color:$yellow;
            font-weight:500;
            text-align: center;
        }
        .description{
            text-align: center;
        }
        &:nth-child(odd){
            bottom:0;
            padding-bottom:100px;
            &:after{
                bottom:70px;
                @media all and (max-width:$break-point-2){
                    bottom:auto;
                    top: 8px;
                    right: 10px;
                    left: auto;
                    margin-right: -14px;
                }
            }
            @media all and (max-width:$break-point-2){
                margin-right:auto;
                padding-left:0;
                padding-bottom:0;
            }
        }
        &:nth-child(even){
            top:0;
            padding-top:100px;
            @media all and (max-width:$break-point-2){
                margin-left:auto;
                padding-right:0;
                padding-top:0;
            }
            &:before{
                top:0;
            }
            &:after{
                top:70px;
                @media all and (max-width:$break-point-2){
                    bottom: auto;
                    top: 8px;
                    left: 0;
                    right: auto;
                    margin-left: 5px;
                }
            }
            .year{
                bottom: -65px;
            }
        }

        &:before{
            content: "";
            bottom: 0;
            height:70px;
            width: 4px;
            background: #fff;
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -2px;
            @media all and (max-width:$break-point-2){
                display:none;
            }
        }
        &:after{
            content:"";
            height:20px;
            width:20px;
            border-radius:20px;
            background:#fff;
            display:block;
            position: absolute;
            margin-left:-10px;
            left:50%;
            @media all and (max-width:$break-point-2){
                border-radius:0;
                height:4px;
            }
        }
    }
    &:before{
        width:4px;
        background:$yellow;
        top:0;
        bottom:0;
        left:50%;
        margin-left:2px;
        position:absolute;
        content:"";
        display:block;
    }
}
}


.team{
    margin-top:12em;
    .member{
        text-align:center;
        .photo{
            filter:grayscale(1);
            width:150px;
        }
        small{
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
        }
        h5{
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.05em;
            font-weight: 600;
        }

    }
}

.advanced-purchase-agreement{
    width: 215px;
    height: 226px;
    text-align: center;
    position: relative;
    margin: auto;
    font-size: 60px;
    line-height: 232px;
    font-weight: 700;
    img{
        position: absolute;
        left: 50%;
        margin-left: -107px;
        z-index:-1;
    }
    span{
        font-size: 20px;
        font-weight: 400;
        vertical-align: middle;
        margin-left: 5px;
    }
}

.news-item{
    text-shadow:none;
    border:none;
    .date{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color:$yellow;
    }
    .title{
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.05em;
        color:$yellow;
    }
    .description{
        font-size: 18px;
        line-height: 22px;
        color:$dark-blue;
    }
}

.fair-trade-pills{
    .nav-link{
        font-weight: 300;
        font-size: 22px;
        color:$yellow;
        padding:0; 
        margin-bottom:20px;
        border-left: 2px solid transparent;
        padding-left: 30px;
        border-radius:0;
        line-height:initial;
        transition:all 200ms linear;
        
        &.active{
            background:transparent;
            font-weight: 500;
            font-size: 30px;
            color:$yellow;
            border-left: 2px solid $yellow;
        }

        &:hover{
            border-left: 2px solid $yellow;
        }
    }
}

.faq-accordion{
    padding-top:40px;
    transition: all 200ms linear;
    
    &:hover{
        transform:scale(1.02);
        cursor:pointer;
    }

    .card{
        background: rgb(52, 72, 119);
        border-radius: 6px;
        .card-header{
            padding:0;
            border-bottom:0;

            h5{
                color:#fff;
                letter-spacing: 0.1em;
                margin: 0;
                padding: 10px 10px 10px 70px;
                font-size: 25px;
                @media all and (max-width:$break-point-2){
                    font-size:22px
                }

                position:relative;

                cursor:pointer;
                &.collapsed{
                    span{
                        opacity:0.7;
                    }
                }
                &:hover{
                    span{
                        opacity:1 !important;
                    }
                }
                
                span{
                    display: block;
                    position: absolute;
                    font-size: 70px;
                    top: -32px;
                    left: 10px;
                    color:$yellow;
                    transition:all 200ms linear;
                    
                }
            }
        }
        .card-body{
            font-size:$font-size-normal;
            line-height: $line-height-normal;
            font-style:italic;
        }
    }
}

.cripto-accordion{
    padding-top:40px;
    transition: all 200ms linear;

    &:hover{
        transform:scale(1.02);
        cursor:pointer;
    }

    .card{
        background: rgb(52, 72, 119);
        border-radius: 6px;
        .card-header{
            padding:0;
            border-bottom:0;

            h5{
                color:#fff;
                letter-spacing: 0.1em;
                margin: 0;
                padding: 10px 10px 10px 70px;
                font-size: 25px;
                @media all and (max-width:$break-point-2){
                    font-size:22px
                }

                position:relative;

                cursor:pointer;
                &.collapsed{
                    span{
                        opacity:0.7;
                    }
                }
                &:hover{
                    span{
                        opacity:1 !important;
                    }
                }

                span{
                    display: block;
                    position: absolute;
                    font-size: 70px;
                    top: -32px;
                    left: 10px;
                    color:$yellow;
                    transition:all 200ms linear;

                }
            }
        }
        .card-body{
            font-size:$font-size-normal;
            line-height: $line-height-normal;
            font-style:italic;
            .d-flex{
                @media all and (max-width:$break-point-2){
                    display: block!important;
                    text-align: center;
                }
            }

            h6{
                @media all and (max-width:$break-point-2){
                    font-size: 1.4rem;
                    margin: 20px 0;
                }
            }
        }
    }
}