@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,300,300i,400,400i,500,700&display=swap");
.text-brand {
  color: #F9BA42;
}

.font-size-small {
  font-size: 16px;
  line-height: 19px;
}

a {
  color: #F9BA42;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

a:hover {
  color: #ce8a07;
  text-decoration: none;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: #222A3E;
  color: #fff;
  font-weight: 200;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  /*background: -moz-linear-gradient(left,  $dark-blue 0%, $dark-blue-bg  100%);
    background: -webkit-linear-gradient(left,  $dark-blue 0%,$dark-blue-bg  100%);
    background: linear-gradient(to right,  $dark-blue 0%,$dark-blue-bg 100%);*/
}

.navbar .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  font-weight: bold;
  padding-left: .9rem;
  padding-right: .9rem;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.navbar .nav-item .nav-link:hover {
  color: #F9BA42;
}

@media all and (max-width: 991px) {
  .navbar .nav-item .nav-link {
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
    border-bottom: 1px dashed #425fa7;
  }
}

.navbar #navbarNav {
  margin-left: 30px;
}

@media all and (max-width: 991px) {
  .navbar #navbarNav {
    margin-left: 0;
    margin-top: 20px;
  }
}

.navbar #navbarNavRight .nav-item {
  margin-left: 20px;
}

.navbar:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#040f2a), color-stop(60%, #040f2a), to(rgba(4, 15, 42, 0)));
  background: linear-gradient(to bottom, #040f2a 0%, #040f2a 60%, rgba(4, 15, 42, 0) 100%);
  content: "";
  display: block;
  height: 140%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.navbar.open:before {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#040f2a), color-stop(38%, #040f2a), color-stop(94%, rgba(4, 15, 42, 0.2)), color-stop(95%, rgba(4, 15, 42, 0.2)));
  background: linear-gradient(to bottom, #040f2a 0%, #040f2a 38%, rgba(4, 15, 42, 0.2) 94%, rgba(4, 15, 42, 0.2) 95%);
}

@media all and (max-width: 991px) {
  .navbar.open:before {
    background: #040f2a;
  }
}

.navbar.mobile-open:before {
  height: 100vh;
  background: #040f2a;
}

.navbar .dropdown-menu {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  white-space: pre-line;
}

.navbar .dropdown-menu label {
  padding-left: .9rem;
  padding-right: .9rem;
  font-size: 16px;
  color: #F9BA42;
  font-weight: 500;
}

@media all and (max-width: 991px) {
  .navbar .dropdown-menu label {
    text-align: center;
  }
}

.navbar .dropdown-menu a {
  padding-left: .9rem;
  padding-right: .9rem;
  color: #fff;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  display: inline-block;
  position: relative;
  width: auto;
}

.navbar .dropdown-menu a:after {
  content: "";
  height: 3px;
  background: #F9BA42;
  width: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border-radius: 5px;
}

.navbar .dropdown-menu a:hover {
  background: transparent;
}

.navbar .dropdown-menu a:hover:after {
  opacity: 1;
}

@media all and (max-width: 991px) {
  .navbar .dropdown-menu a {
    display: block;
    text-align: center;
  }
}

@media all and (max-width: 991px) {
  .navbar .dropdown-menu {
    white-space: normal;
  }
}

.navbar .navbar-toggle {
  background: transparent;
  border: none;
  position: relative;
  padding: 9px 10px;
  display: none;
}

.navbar .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  margin-top: 4px;
}

.navbar .navbar-toggle .icon-bar:first-child {
  margin-top: 0;
}

@media all and (max-width: 991px) {
  .navbar .navbar-toggle {
    display: block;
  }
}

input.form-control, select.form-control, textarea.form-control {
  border-radius: 20px;
  background: #434F6C;
  border: none !important;
  color: #fff;
  -webkit-appearance: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

input.form-control::-webkit-input-placeholder, select.form-control::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
  color: #aaa;
}

input.form-control:-ms-input-placeholder, select.form-control:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
  color: #aaa;
}

input.form-control::-ms-input-placeholder, select.form-control::-ms-input-placeholder, textarea.form-control::-ms-input-placeholder {
  color: #aaa;
}

input.form-control::placeholder, select.form-control::placeholder, textarea.form-control::placeholder {
  color: #aaa;
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
  background: #57668b;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

input.form-control:invalid, select.form-control:invalid, textarea.form-control:invalid {
  color: #f00;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
  -webkit-text-fill-color: #fff;
}

h1 {
  font-weight: 100;
  color: #fff;
  font-size: 70px;
  line-height: 84px;
}

h1 strong {
  font-weight: 500;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 0;
  }
}

h3 {
  font-weight: 100;
  font-size: 46px;
  line-height: 56px;
  color: #F9BA42;
}

h3 strong {
  font-weight: 500;
}

@media (max-width: 768px) {
  h3 {
    font-weight: 100;
    font-size: 26px;
    line-height: 36px;
    color: #F9BA42;
    text-align: left;
  }
}

section p {
  font-size: 22px;
  line-height: 27px;
}

.btn {
  border-radius: 100px;
  border: none;
  padding: 6px 27px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  letter-spacing: 0.15em;
}

.btn span {
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.btn:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
}

.btn.btn-primary {
  background: -webkit-gradient(linear, left top, right top, from(#2A4589), to(#000F34));
  background: linear-gradient(to right, #2A4589 0%, #000F34 100%);
}

.btn.btn-warning {
  background: -webkit-gradient(linear, left top, right top, from(#FCD996), to(#FFA700));
  background: linear-gradient(to right, #FCD996 0%, #FFA700 100%);
  color: #222A3E;
}

.btn.btn-warning img {
  width: 36px;
  position: relative;
  top: -4px;
  margin-bottom: -10px;
}

.btn.btn-warning.btn-lg {
  padding: 10px 40px;
}

.btn.btn-warning.btn-lg img {
  width: 43px;
}

.img-logowhite {
  margin-bottom: 20px;
}

.img-coinschedule {
  margin-bottom: 10px;
}

.img-logogoldfinx {
  width: 170px;
}

.img-gixbtn {
  display: inline-block;
}

.img-sprinkles {
  opacity: 0.4;
  margin-top: -250px;
  z-index: 1;
  position: absolute;
  display: none;
}

.img-philippequote img {
  display: block;
  width: 100%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.img-socialinfant img {
  display: block;
  width: 100%;
}

.img-gix2d {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 3em;
}

.img-gix3d {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 0;
}

.img-brokennugget {
  display: block;
  width: 130%;
  position: absolute;
  top: -80%;
  left: -50%;
  z-index: -1;
}

.img-coinfrontmono {
  display: block;
  width: 110%;
  top: -40%;
  position: absolute;
  right: -30%;
  z-index: -1;
  opacity: .25;
}

.img-coinfrontmono.in-social-mine {
  top: -140%;
  z-index: 1;
}

.img-iconcloseoverlay {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.img-iconcloseoverlay:hover {
  opacity: 0.5;
  cursor: pointer;
}

.img-uniqueconcept {
  display: block;
  width: 100%;
}

.callout-left {
  border-left: 2px solid #F9BA42;
  padding-left: 30px;
}

.callout-left-child {
  padding-left: 30px;
}

.callout-right {
  border-right: 2px solid #F9BA42;
  padding-right: 30px;
}

@media (max-width: 991px) {
  .callout-right {
    border-right: 0 solid #F9BA42;
    padding-right: 0;
    border-left: 2px solid #F9BA42;
    padding-left: 30px;
  }
}

.callout-right-child {
  padding-right: 30px;
}

@media (max-width: 991px) {
  .callout-right-child {
    padding-right: 0;
  }
}

.callout-horizontal {
  position: relative;
  padding-top: 20px;
}

.callout-horizontal:before {
  content: "";
  display: block;
  width: 360px;
  margin-left: -45px;
  height: 2px;
  background: #F9BA42;
  position: absolute;
  top: 5px;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#222A3E), color-stop(46%, #040f2a));
  background: linear-gradient(to bottom, #222A3E 0%, #040f2a 46%);
  padding-bottom: 30px;
  padding-top: 50px;
  margin-top: 50px;
}

footer a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

footer a:hover {
  color: #F9BA42;
  text-decoration: underline;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul.social-networks {
  font-size: 0;
  margin-top: 12px;
}

footer ul.social-networks li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

footer ul.social-networks li a img {
  width: 35px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

footer ul.social-networks li a img:hover {
  opacity: 0.5;
}

footer .newsletter {
  text-align: center;
  margin-top: -40px;
}

@media all and (max-width: 991px) {
  footer .newsletter {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

footer .newsletter #mc_embed_signup_scroll {
  background: #434F6C;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  position: relative;
}

footer .newsletter #mc_embed_signup_scroll .email {
  background: transparent;
  border: none;
  font-family: inherit;
  color: #fff;
  height: 50px;
}

footer .newsletter #mc_embed_signup_scroll .email:focus {
  outline: 0;
}

footer .newsletter #mc_embed_signup_scroll .email::-webkit-input-placeholder {
  color: #fff;
}

footer .newsletter #mc_embed_signup_scroll .email:-ms-input-placeholder {
  color: #fff;
}

footer .newsletter #mc_embed_signup_scroll .email::-ms-input-placeholder {
  color: #fff;
}

footer .newsletter #mc_embed_signup_scroll .email::placeholder {
  color: #fff;
}

footer .newsletter #mc_embed_signup_scroll .button {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 48px;
  border-radius: 50px;
  color: #040f2a;
  background: #fff;
  letter-spacing: 15%;
  font-size: 16px;
  text-transform: uppercase;
}

footer .awards {
  margin-top: -50px;
}

.home-featured {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 30px;
  line-height: 36px;
  font-weight: 200;
}

.home-featured p {
  font-size: 24px;
  line-height: 29px;
}

@media all and (max-width: 991px) {
  .home-featured {
    display: none;
    background: url(../images/video-mobile.png) no-repeat center center;
    background-size: cover;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    padding-top: 200px;
  }
}

.home-featured video {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

@media all and (max-width: 991px) {
  .home-featured video {
    display: none;
  }
}

.home-featured:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  content: "";
  display: block;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 15, 42, 0.1)), color-stop(83%, #1d253b), to(#222a3e));
  background: linear-gradient(to bottom, rgba(4, 15, 42, 0.1) 0%, #1d253b 83%, #222a3e 100%);
}

.home-featured .container-fluid {
  position: relative;
  z-index: 1;
}

.home-featured .in-the-news {
  margin-top: 100px;
  position: relative;
  z-index: 999999;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media all and (max-width: 991px) {
  .home-featured .in-the-news {
    margin-top: 5px;
  }
}

.home-featured .in-the-news h5 {
  text-shadow: none;
  font-weight: 600;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, right top, from(#2A4589), to(#000F34));
  background: linear-gradient(to right, #2A4589 0%, #000F34 100%);
  height: 50px;
  line-height: 50px;
  border-radius: 20px 0 0 0;
}

.home-featured .in-the-news h5 span {
  color: #F9BA42;
}

@media all and (max-width: 991px) {
  .home-featured .in-the-news h5 {
    border-radius: 20px 20px 0 0;
  }
}

.home-featured .in-the-news .row {
  background: #fff;
  border-radius: 20px 20px 0 0;
  margin: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .home-featured .in-the-news .row {
    display: block;
  }
}

@media all and (max-width: 991px) {
  .home-featured .in-the-news .row {
    border-radius: 20px;
  }
}

.home-featured .in-the-news.invisible {
  opacity: 0;
}

.home-featured .in-the-news img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  display: block;
  height: 30px;
  margin: auto;
}

@media (max-width: 1294px) {
  .home-featured .in-the-news img {
    height: 22px;
  }
}

@media (max-width: 991px) {
  .home-featured .in-the-news img {
    height: 15px;
  }
}

@media (max-width: 768px) {
  .home-featured .in-the-news img {
    height: 27px;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .home-featured .in-the-news .btn {
    margin-bottom: 10px;
  }
}

.home-featured-buy-button {
  text-align: center !important;
  margin-top: -120px !important;
  position: relative;
  z-index: 1;
  margin-bottom: 120px;
}

.gold-mining {
  background-image: url("../images/gold-mining.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.social-mine {
  background-image: url("../images/social-mine.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.GoldFactsHeader {
  background-image: url("../images/GoldFactsHeader.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.gix_nugget {
  background-image: url("../images/gix_nugget.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.mining-footprint {
  background-image: url("../images/mining-footprint.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fair-trade {
  background-image: url("../images/fair-trade.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.holding_gix {
  background-image: url("../images/holding_gix.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.crypto-slider {
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  border-bottom: 3px dashed #F9BA42;
}

section.crypto-slider h5 {
  position: absolute;
  left: 60px;
  font-size: 90px;
}

section.crypto-slider strong {
  background: #222A3E;
  padding: 0 10px;
  display: block;
  margin-bottom: -4px;
}

section.crypto-slider:before {
  position: -webkit-sticky;
  position: sticky;
  left: calc(100vw - 200px);
  top: 0;
  content: "";
  background: #f00;
  height: 400px;
  margin-top: -400px;
  width: 200px;
  display: block;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(34, 42, 62, 0)), to(#222a3e));
  background: linear-gradient(to right, rgba(34, 42, 62, 0) 0%, #222a3e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222a3e', endColorstr='#222a3e',GradientType=1 );
}

.watermarked {
  position: relative;
  padding-top: 40px;
  padding-left: 60px;
}

.watermarked h5 {
  font-weight: 500;
  font-size: 50px;
  line-height: 84px;
  opacity: .3;
  color: #F9BA42;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 15px;
}

.login-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 9999;
  background: -webkit-gradient(linear, left top, left bottom, from(#040f2a), color-stop(38%, #040f2a), color-stop(94%, rgba(4, 15, 42, 0.2)), color-stop(95%, rgba(4, 15, 42, 0.2)));
  background: linear-gradient(to bottom, #040f2a 0%, #040f2a 38%, rgba(4, 15, 42, 0.2) 94%, rgba(4, 15, 42, 0.2) 95%);
  padding: 5rem 0;
  display: none;
}

@media all and (max-width: 991px) {
  .login-overlay {
    background: #040f2a;
  }
}

.roadmap-section {
  margin-top: 12em;
  padding-bottom: 1px;
}

.roadmap-section .roadmap {
  border-bottom: 4px solid #F9BA42;
  position: relative;
  margin-top: 50px;
  margin-bottom: 250px;
  margin-top: 5em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 991px) {
  .roadmap-section .roadmap {
    width: 100%;
    border-bottom: none;
    margin-top: 0;
  }
}

.roadmap-section .roadmap .timeline {
  position: absolute;
  background: #fff;
  height: 4px;
  width: 0;
  -webkit-transition: all 4000ms linear;
  transition: all 4000ms linear;
}

.roadmap-section .roadmap .time-mark {
  width: 11.111111111111111%;
  float: left;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  padding: 0 20px;
}

@media all and (max-width: 991px) {
  .roadmap-section .roadmap .time-mark {
    position: relative;
    width: 50%;
    left: auto !important;
    float: none;
  }
}

.roadmap-section .roadmap .time-mark.upcoming:after {
  background: #F9BA42;
}

.roadmap-section .roadmap .time-mark.upcoming.upcoming:after {
  background: #F9BA42;
}

.roadmap-section .roadmap .time-mark.upcoming.upcoming:before {
  background: #F9BA42;
}

.roadmap-section .roadmap .time-mark .year {
  color: #F9BA42;
  font-weight: 500;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}

.roadmap-section .roadmap .time-mark .year span {
  display: block;
}

.roadmap-section .roadmap .time-mark .title {
  color: #F9BA42;
  font-weight: 500;
  text-align: center;
}

.roadmap-section .roadmap .time-mark .description {
  text-align: center;
}

.roadmap-section .roadmap .time-mark:nth-child(odd) {
  bottom: 0;
  padding-bottom: 100px;
}

.roadmap-section .roadmap .time-mark:nth-child(odd):after {
  bottom: 70px;
}

@media all and (max-width: 991px) {
  .roadmap-section .roadmap .time-mark:nth-child(odd):after {
    bottom: auto;
    top: 8px;
    right: 10px;
    left: auto;
    margin-right: -14px;
  }
}

@media all and (max-width: 991px) {
  .roadmap-section .roadmap .time-mark:nth-child(odd) {
    margin-right: auto;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.roadmap-section .roadmap .time-mark:nth-child(even) {
  top: 0;
  padding-top: 100px;
}

@media all and (max-width: 991px) {
  .roadmap-section .roadmap .time-mark:nth-child(even) {
    margin-left: auto;
    padding-right: 0;
    padding-top: 0;
  }
}

.roadmap-section .roadmap .time-mark:nth-child(even):before {
  top: 0;
}

.roadmap-section .roadmap .time-mark:nth-child(even):after {
  top: 70px;
}

@media all and (max-width: 991px) {
  .roadmap-section .roadmap .time-mark:nth-child(even):after {
    bottom: auto;
    top: 8px;
    left: 0;
    right: auto;
    margin-left: 5px;
  }
}

.roadmap-section .roadmap .time-mark:nth-child(even) .year {
  bottom: -65px;
}

.roadmap-section .roadmap .time-mark:before {
  content: "";
  bottom: 0;
  height: 70px;
  width: 4px;
  background: #fff;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -2px;
}

@media all and (max-width: 991px) {
  .roadmap-section .roadmap .time-mark:before {
    display: none;
  }
}

.roadmap-section .roadmap .time-mark:after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #fff;
  display: block;
  position: absolute;
  margin-left: -10px;
  left: 50%;
}

@media all and (max-width: 991px) {
  .roadmap-section .roadmap .time-mark:after {
    border-radius: 0;
    height: 4px;
  }
}

.roadmap-section .roadmap:before {
  width: 4px;
  background: #F9BA42;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 2px;
  position: absolute;
  content: "";
  display: block;
}

.team {
  margin-top: 12em;
}

.team .member {
  text-align: center;
}

.team .member .photo {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  width: 150px;
}

.team .member small {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.team .member h5 {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.advanced-purchase-agreement {
  width: 215px;
  height: 226px;
  text-align: center;
  position: relative;
  margin: auto;
  font-size: 60px;
  line-height: 232px;
  font-weight: 700;
}

.advanced-purchase-agreement img {
  position: absolute;
  left: 50%;
  margin-left: -107px;
  z-index: -1;
}

.advanced-purchase-agreement span {
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
  margin-left: 5px;
}

.news-item {
  text-shadow: none;
  border: none;
}

.news-item .date {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #F9BA42;
}

.news-item .title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #F9BA42;
}

.news-item .description {
  font-size: 18px;
  line-height: 22px;
  color: #222A3E;
}

.fair-trade-pills .nav-link {
  font-weight: 300;
  font-size: 22px;
  color: #F9BA42;
  padding: 0;
  margin-bottom: 20px;
  border-left: 2px solid transparent;
  padding-left: 30px;
  border-radius: 0;
  line-height: initial;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.fair-trade-pills .nav-link.active {
  background: transparent;
  font-weight: 500;
  font-size: 30px;
  color: #F9BA42;
  border-left: 2px solid #F9BA42;
}

.fair-trade-pills .nav-link:hover {
  border-left: 2px solid #F9BA42;
}

.faq-accordion {
  padding-top: 40px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.faq-accordion:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.faq-accordion .card {
  background: #344877;
  border-radius: 6px;
}

.faq-accordion .card .card-header {
  padding: 0;
  border-bottom: 0;
}

.faq-accordion .card .card-header h5 {
  color: #fff;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 10px 10px 10px 70px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}

@media all and (max-width: 991px) {
  .faq-accordion .card .card-header h5 {
    font-size: 22px;
  }
}

.faq-accordion .card .card-header h5.collapsed span {
  opacity: 0.7;
}

.faq-accordion .card .card-header h5:hover span {
  opacity: 1 !important;
}

.faq-accordion .card .card-header h5 span {
  display: block;
  position: absolute;
  font-size: 70px;
  top: -32px;
  left: 10px;
  color: #F9BA42;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.faq-accordion .card .card-body {
  font-size: 22px;
  line-height: 27px;
  font-style: italic;
}

.cripto-accordion {
  padding-top: 40px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.cripto-accordion:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.cripto-accordion .card {
  background: #344877;
  border-radius: 6px;
}

.cripto-accordion .card .card-header {
  padding: 0;
  border-bottom: 0;
}

.cripto-accordion .card .card-header h5 {
  color: #fff;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 10px 10px 10px 70px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}

@media all and (max-width: 991px) {
  .cripto-accordion .card .card-header h5 {
    font-size: 22px;
  }
}

.cripto-accordion .card .card-header h5.collapsed span {
  opacity: 0.7;
}

.cripto-accordion .card .card-header h5:hover span {
  opacity: 1 !important;
}

.cripto-accordion .card .card-header h5 span {
  display: block;
  position: absolute;
  font-size: 70px;
  top: -32px;
  left: 10px;
  color: #F9BA42;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.cripto-accordion .card .card-body {
  font-size: 22px;
  line-height: 27px;
  font-style: italic;
}

@media all and (max-width: 991px) {
  .cripto-accordion .card .card-body .d-flex {
    display: block !important;
    text-align: center;
  }
}

@media all and (max-width: 991px) {
  .cripto-accordion .card .card-body h6 {
    font-size: 1.4rem;
    margin: 20px 0;
  }
}
